<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<script type="text/javascript" src="vue.js"></script>
	<style type="text/css">
		body{
			padding-top: 70px;
    		padding-bottom: 30px;
		}
        .bar{
            overflow: hidden;
            width:100%;
        }
        .bar p{float:right;margin-right:30px;}
        .bar div{float: right;}
        .bar .btn-group{margin-right: 30px;}
	</style>
</head>
<body>
	 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      	<div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">手心手背博弈游戏</a>
	        </div>
      	</div>
    </nav>
    <div class="container theme-showcase"  id="app">
    	 <div class="jumbotron">
	        <h1>游戏规则</h1>
	        <p>A和B玩手心手背，如果同时手心向上，A给B,3块钱，如果同时手背向上，A给B,1块钱，如果AB出的不一样， B给A2块钱，你觉得游戏公平吗？</p>
     	</div>
     	<div class="form-group">
		    <label class="sr-only">比赛次数</label>
		    <p class="form-control-static">比赛次数</p>
		</div>
		<div class="form-group">
			<label for="inputPassword2" class="sr-only">比赛次数</label>
			<input type="text" class="form-control" id="count" placeholder="比赛次数">
		</div>
		<button type="submit" class="btn btn-default js-confirm">确定</button>
		<div class="result">
			<table class="table">
				<caption>游戏结果: <p>A的获胜次数:<span id="countA"></span></p>
								<p>B的获胜次数:<span id="countB"></span></p>
				</caption>
			  	<thead>
			        <tr>
			          <th>#</th>
			          <th>A</th>
			          <th>B</th>
			          <th>A的钱</th>
			          <th>B的钱</th>
			          <th>本次胜利者</th>
			        </tr>
		      	</thead>
		      	<tbody id="result">
		      		<template v-for="item in items">
                        <tr>
                            <td >{{item.index}}</td>
                            <td >{{item.curA}}</td>
                            <td >{{item.curB}}</td>
                            <td >{{item.scoreA}}</td>
                            <td >{{item.scoreB}}</td>
                            <td >{{item.winner}}</td>
                        </tr>
                    </template>
		      	</tbody>
			</table>
            <div class="bar" v-if="show">
                <div>
                    跳至
                    <select name="" id="" v-model="select" v-on:change="selPage">
                        <option selected>1</option>    
                        <option>2</option>    
                        <option>3</option>    
                    </select>
                    页
                </div>
                <div class="btn-group">
                    <a href="javascript:;" v-on:click="prev">上一页</a>
                    <a href="javascript:;" v-on:click="next">下一页</a>
                </div>
                <p>当前第<span>{{nowPage}}</span>页,共<span>{{totalPage}}</span>页</p>
            </div>
		</div>
    </div>
<script type="text/javascript">
    var FinalResult = [];
    function FingerGame(){
    	this.scoreA = 0;
    	this.scoreB = 0;
    	this.winner = "";
    	this.countA = 0;
    	this.countB = 0;
        this.arr    = [];           //所有数据
        this.arr_   = [];           //临时数组 分页数据
        this.page   = 20;           //分页
    	this.config = {
    		"1" : "手背",
    		"0" : "手心"
    	}
    	this.init();
    }
    FingerGame.prototype = {
    	init : function(){
    		var that = this;
            var btn  = document.querySelector(".js-confirm");
            btn.onclick = function(){
    			var val = document.getElementById("count").value;
				that.count = val;
				that.clean();
				that.gameStart();
    		}
    	},
    	game : function(){
    		//游戏规则： 0为手心，1为手背
    		return Math.round(Math.random());
    	},
    	gameStart : function(){
    		
    		var count = this.count;
    		for(var i = 0; i < count; i++){
    			var a = this.game(),
    				b = this.game();
    			//同为手心
    			if(a == 0 && a == b ){
    				this.scoreA -= 3;
    				this.scoreB += 3;
    				this.winner = "B";
    				this.countB += 1;
    				//console.log("同为手心")
    			}
    			//同为手背
    			if(a == 1 && a == b){
    				this.scoreA -= 1;
    				this.scoreB += 1;
    				this.winner = "B";
    				this.countB += 1;
    				//console.log("同为手背")
    			}
    			//两个不一样
    			if( a != b){
    				this.scoreA += 2; 
    				this.scoreB -= 2;
    				this.winner = "A";
    				this.countA += 1;
    				//console.log("两个不一样")
    			}
    			this.result(a, b, i);
    		}
            this.complete();
    	},
    	result : function(a, b, cur){
    		var that = this;
    		var config = that.config;
    		
    		var html = '<tr>' +
				          '<td>'+ cur +'</td>' +
				          '<td>'+ config[a] +'</td>' +
				          '<td>'+ config[b] +'</td>' +
				          '<td>'+ that.scoreA +'</td>' +
				          '<td>'+ that.scoreB +'</td>' +
				          '<td>'+ that.winner +'</td>' +
				        '</tr>';
    		var data = {};
            data.index = cur;
            data.curA  = config[a];
            data.curB  = config[b];
            data.scoreA = that.scoreA;
            data.scoreB = that.scoreB;
            data.winner = that.winner;

            that.arr_.push(data);
           // console.log(cur % that.page == 0 && cur != 0)
           /* if(cur % that.page == 0 && cur != 0){
                console.log(that.arr_);
                that.arr.push(that.arr_);
                that.arr_ = [];
            }*/
    	},
    	clean : function(){ 
    		document.getElementById("result").innerHtml = "";
    		this.scoreA = 0;
	    	this.scoreB = 0;
	    	this.winner = "";
	    	this.countA = 0;
	    	this.countB = 0;
    	},
        complete : function(){
            var that = this;
            document.getElementById("countA").innerText = this.countA;
            document.getElementById("countB").innerText = this.countB;

            FinalResult = array_chunk(that.arr_, that.page);
            var total = FinalResult.length;
            tbody.$set("items", FinalResult[0])
            tbody.$set("nowPage",1);
            tbody.$set("totalPage", total);
            tbody.$set("show", true);
            tbody.$set("result", FinalResult);
        }
    }
	
	var obj = new FingerGame();	
   
    var tbody = new Vue({
        el : "#app",
        data : {
            show : false,
            items : [],
            nowPage : 0,
            totalPage : 0,

        },
        methods :{
            prev : function(){
                
            },
            next : function(){

            },
            selPage : function(){
                var page = this.select;
            }
        }

    })

    function array_chunk(array, size) {
        var result = [];
        for (var x = 0; x < Math.ceil(array.length / size); x++) {
            var start = x * size;
            var end = start + size;
            result.push(array.slice(start, end));
        }
        return result;
    }
</script>
</body>
</html>